simplified_ui true
pane_frames false
themes {
    catppuccin-mocha {
      bg "#585b70" // Surface2
      fg "#cdd6f4"
      red "#f38ba8"
      green "#a6e3a1"
      blue "#89b4fa"
      yellow "#f9e2af"
      magenta "#f5c2e7" // Pink
      orange "#fab387" // Peach
      cyan "#89dceb" // Sky
      black "#181825" // Mantle
      white "#cdd6f4"
    }
}
theme "catppuccin-mocha"
default_layout "compact"
scrollback_editor "/opt/homebrew/bin/hx"

keybinds {
    normal clear-defaults=true {
        bind "Alt q" { CloseFocus; }

        // Tabs
        bind "Alt t" { NewTab; }
        bind "Alt w" { CloseTab; }
        bind "Alt r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        // bind "Alt H" { GoToNextTab; }
        // bind "Alt L" { GoToPreviousTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        // Panes
        bind "Alt n" { NewPane "Right"; }
        bind "Alt d" { NewPane "Down"; }

        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }

        bind "Alt i" { FocusNextPane; }
        bind "Alt o" { FocusPreviousPane; }

        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }

        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt e" { EditScrollback; }
        bind "Alt s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    strider location="zellij:strider"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    status-bar location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        hide_frame_for_single_pane "false"

        // format_left   "{mode} #[fg=#89B4FA,bold]{session}"
        format_right   "{mode} #[fg=#89B4FA,bold]{session}"
        format_center "{tabs}"
        // format_right  "{command_git_branch} {datetime}"
        format_space  ""
        border_enabled  "true"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        // mode_normal  "#[bg=blue] "
        mode_tmux    "#[bg=#ffc387] "

        tab_normal   "#[fg=#6C7086] {name} "
        tab_active   "#[fg=#9399B2,bold,italic] {name} "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"
        // datetime        "#[fg=#6C7086,bold] {format} "
        // datetime_format "%A, %d %b %Y %H:%M"
        // datetime_timezone "Europe/Berlin"
    }
}

