layout {
    // tab_template name="IDE" {
    //     pane size=1 borderless=true {
    //        plugin location="status-bar"
    //     }
    //     children
    // }
    default_tab_template {
        pane size=1 borderless=true split_direction="vertical" {
           plugin location="status-bar"
        }
        pane split_direction="vertical" {
            pane {
                focus true
                // fullscreen true
            }
            pane {
                command "env"
                args "YAZI_CONFIG_HOME=~/.config/zellij/integrations/yazi/sidebar" "yazi"
            	size "20%"
            }
        }
    }
}
// layout {
//     pane size=1 borderless=true split_direction="vertical" {
//         plugin location="status-bar"
//     }
//     pane
// }

// keybinds {
//     shared {
//         // Previously: Ctrl + o (in helix: jump_backward)
//         bind "Ctrl e" { SwitchToMode "Session"; }
        
//         // Previously: Ctrl + s (in helix: save_selection)
//         // bind "Alt 1" { SwitchToMode "Scroll"; }
//         bind "Ctrl y" { SwitchToMode "Scroll"; }
        
//         // Previously: Alt + i (in helix: shrink_selection)
//         bind "Alt w" { MoveTab "Left"; }
        
//         // Previously: Alt + o (in helix: expand_selection)
//         bind "Alt q" { MoveTab "Right"; }
        
//         // Previously: Alt + n (in helix: select_next_sibling)
//         bind "Alt m" { NewPane; }

//         // Previously: Ctrl + b (in helix: move_page_up)
//         bind "Alt 2" { SwitchToMode "Tmux"; }
//     }

//     session {
//         // Exit session mode
//         bind "Ctrl e" { SwitchToMode "Normal"; }
//     }

//     scroll {
//         // Exit scroll mode
//         // bind "Alt 1" { SwitchToMode "Normal"; }
//         bind "Ctrl y" { SwitchToMode "Normal"; }
//     }

//     tmux {
//         // Exit tmux mode
//         bind "Alt 2" { SwitchToMode "Normal"; }
//     }
// }
